<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Settings' | localize" [description]="'SettingsHeaderInfo' | localize">
            <div role="actions">
                <button class="btn btn-primary" (click)="saveAll()"><i class="la la-floppy-o"></i>
                    {{"SaveAll" | localize}}</button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <tabset *ngIf="settings">
                        <tab class="p-5" heading="{{'General' | localize}}" *ngIf="showTimezoneSelection"
                            [active]="activeTabIndex == 0">
                            <div class="form-group" *ngIf="showTimezoneSelection">
                                <label for="Timezone">{{"Timezone" | localize}}</label>
                                <timezone-combo name="Timezone" [(ngModel)]="settings.general.timezone"
                                    defaultTimezoneScope="{{defaultTimezoneScope}}"></timezone-combo>
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="true" heading="{{'Appearance' | localize}}" [active]="activeTabIndex == 1">
                            <div class="row m-form">
                                <div class="col-md-6">
                                    <h5>{{"ApplicationLogo" | localize}}</h5>
                                    <form #logoUploadForm>
                                        <div class="form-group" *ngIf="appSession.tenant.logoId"
                                            style="background: url(/assets/common/images/transparent_background.png); width: 50%; padding: 5px;">
                                            <a [href]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id"
                                                target="_blank">
                                                <img height="38"
                                                    [src]="remoteServiceBaseUrl + '/TenantCustomization/GetLogo?tenantId=' + appSession.tenant.id">
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="logoUploader" class="col-lg-12"
                                                required />
                                            <span
                                                class="form-text text-muted col-lg-12">{{"UploadLogo_Info" | localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadLogo()">{{"Upload" | localize}}</button>
                                        <button class="btn btn-default" type="button"
                                            (click)="clearLogo()">{{"Clear" | localize}}</button>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{"CustomCSS" | localize}}</h5>
                                    <p *ngIf="appSession.tenant.customCssId">
                                        <a [href]="remoteServiceBaseUrl + '/TenantCustomization/GetCustomCss?tenantId=' + appSession.tenant.id"
                                            target="_blank">{{'Download' | localize}}</a>
                                    </p>
                                    <form #cssUploadForm>
                                        <div class="form-group">
                                            <input type="file" ng2FileSelect [uploader]="customCssUploader"
                                                class="col-lg-12" required />
                                            <span
                                                class="form-text text-muted col-lg-12">{{"UploadCSS_Info" | localize}}</span>
                                        </div>
                                        <button class="btn btn-primary" type="button"
                                            (click)="uploadCustomCss()">{{"Upload" | localize}}</button>
                                        <button class="btn btn-default" type="button"
                                            (click)="clearCustomCss()">{{"Clear" | localize}}</button>
                                    </form>
                                </div>
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="true" heading="{{'UserManagement' | localize}}">
                            <div class="form">
                                <h5>{{"FormBasedRegistration" | localize}}</h5>
                                <div class="checkbox-list">
                                    <div class="form-group">
                                        <label for="Setting_AllowSelfRegistration" class="checkbox"
                                            style="margin-bottom: 0">
                                            <input id="Setting_AllowSelfRegistration" class="check" type="checkbox"
                                                name="AllowSelfRegistration"
                                                [(ngModel)]="settings.userManagement.allowSelfRegistration">
                                            <span></span>
                                            {{"AllowUsersToRegisterThemselves" | localize}}
                                        </label>
                                        <span
                                            class="form-text text-muted">{{"AllowUsersToRegisterThemselves_Hint" | localize}}</span>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_IsNewRegisteredUserActiveByDefault" class="checkbox"
                                            style="margin-bottom: 0">
                                            <input id="Setting_IsNewRegisteredUserActiveByDefault" type="checkbox"
                                                name="IsNewRegisteredUserActiveByDefault"
                                                [(ngModel)]="settings.userManagement.isNewRegisteredUserActiveByDefault">
                                            <span></span>
                                            {{"NewRegisteredUsersIsActiveByDefault" | localize}}
                                        </label>
                                        <span
                                            class="form-text text-muted">{{"NewRegisteredUsersIsActiveByDefault_Hint" | localize}}</span>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_UseCaptchaOnRegistration" class="checkbox">
                                            <input id="Setting_UseCaptchaOnRegistration" type="checkbox"
                                                name="UseCaptchaOnRegistration"
                                                [(ngModel)]="settings.userManagement.useCaptchaOnRegistration">
                                            <span></span>
                                            {{"UseCaptchaOnRegistration" | localize}}
                                        </label>
                                    </div>
                                    <div class="form-group" [hidden]="!settings.userManagement.allowSelfRegistration">
                                        <label for="Setting_UseCaptchaOnLogin" class="checkbox">
                                            <input id="Setting_UseCaptchaOnLogin" type="checkbox"
                                                name="UseCaptchaOnLogin"
                                                [(ngModel)]="settings.userManagement.useCaptchaOnLogin">
                                            <span></span>
                                            {{"UseCaptchaOnLogin" | localize}}
                                        </label>
                                    </div>
                                    <h5>{{"CookieConsent" | localize}}</h5>
                                    <label for="Settings_IsCookieConsentEnabled" class="checkbox">
                                        <input id="Settings_IsCookieConsentEnabled" class="md-check" type="checkbox"
                                            name="IsCookieConsentEnabled"
                                            [(ngModel)]="settings.userManagement.isCookieConsentEnabled">
                                        <span></span>
                                        {{"IsCookieConsentEnabled" | localize}}
                                    </label>
                                    <h5>{{"SessionTimeOut" | localize}}</h5>
                                    <label for="Setting_IsSessionTimeOutEnabled" class="checkbox">
                                        <input id="Setting_IsSessionTimeOutEnabled" class="md-check" type="checkbox"
                                            name="IsEnabled"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        <span></span>
                                        {{"IsSessionTimeOutEnabled" | localize}}
                                    </label>
                                    <label *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled"
                                        for="Setting_ShowLockScreenWhenTimedOut" class="checkbox">
                                        <input id="Setting_ShowLockScreenWhenTimedOut" class="md-check" type="checkbox"
                                            name="IsEnabled"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.showLockScreenWhenTimedOut">
                                        <span></span>
                                        {{"ShowLockScreenWhenTimedOut" | localize}}
                                    </label>
                                    <div class="form-group"
                                        *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        <label
                                            for="Setting_SessionTimeOutSecond">{{"SessionTimeOutSecond" | localize}}</label>
                                        <input id="Setting_SessionTimeOutSecond" type="number" name="TimeOutSecond"
                                            class="form-control" min="1"
                                            [ngClass]="{'edited':settings.userManagement.sessionTimeOutSettings.timeOutSecond}"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.timeOutSecond">
                                    </div>
                                    <div class="form-group"
                                        *ngIf="settings.userManagement.sessionTimeOutSettings.isEnabled">
                                        <label
                                            for="Setting_ShowTimeOutNotificationSecond">{{"ShowTimeOutNotificationSecond" | localize}}</label>
                                        <input id="Setting_ShowTimeOutNotificationSecond" type="number"
                                            name="ShowTimeOutNotificationSecond" class="form-control" min="1"
                                            [ngClass]="{'edited':settings.userManagement.sessionTimeOutSettings.showTimeOutNotificationSecond}"
                                            [(ngModel)]="settings.userManagement.sessionTimeOutSettings.showTimeOutNotificationSecond">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="settings.ldap.isModuleEnabled">
                                <h5 class="mt-4">{{"LdapSettings" | localize}}</h5>
                                <label for="Setting_LdapIsEnabled" class="checkbox">
                                    <input id="Setting_LdapIsEnabled" type="checkbox" name="LdapIsEnabled"
                                        [(ngModel)]="settings.ldap.isEnabled"> {{"EnableLdapAuthentication" | localize}}
                                    <span></span>
                                </label>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapDomainName">{{"DomainName" | localize}}</label>
                                    <input id="LdapDomainName" type="text" name="LdapDomainName" class="form-control"
                                        [(ngModel)]="settings.ldap.domain" maxlength="128">
                                </div>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapUserName">{{"UserName" | localize}}</label>
                                    <input id="LdapUserName" type="text" name="LdapUserName" class="form-control"
                                        [(ngModel)]="settings.ldap.userName" maxlength="128">
                                </div>
                                <div class="form-group" [hidden]="!settings.ldap.isEnabled">
                                    <label for="LdapPassword">{{"Password" | localize}}</label>
                                    <input id="LdapPassword" type="password" name="LdapPassword" class="form-control"
                                        [(ngModel)]="settings.ldap.password" maxlength="128">
                                </div>
                            </div>
                            <div>
                                <h5 class="mt-4">{{"OtherSettings" | localize}}</h5>
                                <label for="Setting_IsEmailConfirmationRequiredForLogin" class="checkbox">
                                    <input id="Setting_IsEmailConfirmationRequiredForLogin" type="checkbox"
                                        name="IsEmailConfirmationRequiredForLogin"
                                        [(ngModel)]="settings.userManagement.isEmailConfirmationRequiredForLogin">
                                    <span></span>
                                    {{"EmailConfirmationRequiredForLogin" | localize}}
                                </label>
                                <h5>{{"Profile" | localize}}</h5>
                                <label for="Setting_AllowUsingGravatarProfilePicture" class="checkbox">
                                   <input id="Setting_AllowUsingGravatarProfilePicture" class="md-check" type="checkbox" name="AllowUsingGravatarProfilePicture"
                                       [(ngModel)]="settings.userManagement.allowUsingGravatarProfilePicture">
                                   <span></span>
                                   {{"AllowUsingGravatarProfilePicture" | localize}}
                               </label>
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="true" heading="{{'Security' | localize}}">
                            <!-- *ngIf="true" is a workaround for https://github.com/valor-software/ng2-bootstrap/issues/823 -->
                            <div>
                                <h5>{{"PasswordComplexity" | localize}}</h5>
                                <label for="Setting_PasswordComplexity_UseDefaultSettings" class="checkbox">
                                    <input id="Setting_PasswordComplexity_UseDefaultSettings" type="checkbox"
                                        name="Setting_PasswordComplexity_UseDefaultSettings"
                                        [(ngModel)]="settings.security.useDefaultPasswordComplexitySettings">
                                    <span></span>
                                    {{"UseDefaultSettings" | localize}}
                                </label>
                                <div class="p-5">
                                    <div class="checkbox-list">
                                        <label for="Setting_PasswordComplexity_RequireDigit" class="checkbox">
                                            <input id="Setting_PasswordComplexity_RequireDigit" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireDigit"
                                                [(ngModel)]="settings.security.passwordComplexity.requireDigit"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                            <input id="Setting_PasswordComplexity_RequireDigit" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireDigit"
                                                [(ngModel)]="settings.security.defaultPasswordComplexity.requireDigit"
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                            <span></span>
                                            {{"PasswordComplexity_RequireDigit" | localize}}
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireLowercase" class="checkbox">
                                            <input id="Setting_PasswordComplexity_RequireLowercase" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireLowercase"
                                                [(ngModel)]="settings.security.passwordComplexity.requireLowercase"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                            <input id="Setting_PasswordComplexity_RequireLowercase" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireLowercase"
                                                [(ngModel)]="settings.security.defaultPasswordComplexity.requireLowercase"
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                            <span></span>
                                            {{"PasswordComplexity_RequireLowercase" | localize}}
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireNonAlphanumeric" class="checkbox">
                                            <input id="Setting_PasswordComplexity_RequireNonAlphanumeric" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                [(ngModel)]="settings.security.passwordComplexity.requireNonAlphanumeric"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                            <input id="Setting_PasswordComplexity_RequireNonAlphanumeric" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireNonAlphanumeric"
                                                [(ngModel)]="settings.security.defaultPasswordComplexity.requireNonAlphanumeric"
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                            <span></span>
                                            {{"PasswordComplexity_RequireNonAlphanumeric" | localize}}
                                        </label>
                                        <label for="Setting_PasswordComplexity_RequireUppercase" class="checkbox">
                                            <input id="Setting_PasswordComplexity_RequireUppercase" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireUppercase"
                                                [(ngModel)]="settings.security.passwordComplexity.requireUppercase"
                                                *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                            <input id="Setting_PasswordComplexity_RequireUppercase" type="checkbox"
                                                name="Setting_PasswordComplexity_RequireUppercase"
                                                [(ngModel)]="settings.security.defaultPasswordComplexity.requireUppercase"
                                                *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                            <span></span>
                                            {{"PasswordComplexity_RequireUppercase" | localize}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>{{"PasswordComplexity_RequiredLength" | localize}}</label>
                                        <input type="number" name="RequiredLength" class="form-control"
                                            [ngClass]="{'edited':settings.security.passwordComplexity.requiredLength}"
                                            [(ngModel)]="settings.security.passwordComplexity.requiredLength"
                                            *ngIf="!settings.security.useDefaultPasswordComplexitySettings">
                                        <input type="number" name="RequiredLength" class="form-control"
                                            [ngClass]="{'edited':settings.security.defaultPasswordComplexity.requiredLength}"
                                            [(ngModel)]="settings.security.defaultPasswordComplexity.requiredLength"
                                            *ngIf="settings.security.useDefaultPasswordComplexitySettings" disabled>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h5>{{"UserLockOut" | localize}}</h5>
                                <div class="md-checkbox-list">
                                    <div>
                                        <label for="Setting_UserLockOut_IsEnabled" class="checkbox">
                                            <input id="Setting_UserLockOut_IsEnabled" type="checkbox"
                                                name="Setting_UserLockOut_IsEnabled"
                                                [(ngModel)]="settings.security.userLockOut.isEnabled">
                                            <span></span>
                                            {{"EnableUserAccountLockingOnFailedLoginAttemts" | localize}}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="settings.security.userLockOut.isEnabled">
                                    <label
                                        for="MaxFailedAccessAttemptsBeforeLockout">{{"MaxFailedAccessAttemptsBeforeLockout" | localize}}</label>
                                    <input id="MaxFailedAccessAttemptsBeforeLockout" type="number"
                                        name="MaxFailedAccessAttemptsBeforeLockout" class="form-control"
                                        [ngClass]="{'edited':settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout}"
                                        [(ngModel)]="settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout">
                                </div>
                                <div class="form-group" *ngIf="settings.security.userLockOut.isEnabled">
                                    <label
                                        for="DefaultAccountLockoutSeconds">{{"DefaultAccountLockoutDurationAsSeconds" | localize}}</label>
                                    <input id="DefaultAccountLockoutSeconds" type="number"
                                        name="DefaultAccountLockoutSeconds" class="form-control"
                                        [ngClass]="{'edited':settings.security.userLockOut.defaultAccountLockoutSeconds}"
                                        [(ngModel)]="settings.security.userLockOut.defaultAccountLockoutSeconds">
                                </div>
                            </div>
                            <div
                                *ngIf="!isMultiTenancyEnabled || settings.security.twoFactorLogin.isEnabledForApplication">
                                <h5>{{"TwoFactorLogin" | localize}}</h5>
                                <div class="checkbox-list">
                                    <label for="Setting_TwoFactorLogin_IsEnabled" class="checkbox">
                                        <input id="Setting_TwoFactorLogin_IsEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isEnabled">
                                        <span></span>
                                        {{"EnableTwoFactorLogin" | localize}}
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsEmailProviderEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsEmailProviderEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isEmailProviderEnabled">
                                        <span></span>
                                        {{"IsEmailVerificationEnabled" | localize}}
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsSmsProviderEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsSmsProviderEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isSmsProviderEnabled">
                                        <span></span>
                                        {{"IsSmsVerificationEnabled" | localize}}
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled && !isMultiTenancyEnabled">
                                        <input id="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsGoogleAuthenticatorEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isGoogleAuthenticatorEnabled">
                                        <span></span>
                                        {{"IsGoogleAuthenticatorEnabled" | localize}}
                                    </label>
                                    <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="checkbox"
                                        *ngIf="settings.security.twoFactorLogin.isEnabled">
                                        <input id="Setting_TwoFactorLogin_IsRememberBrowserEnabled" type="checkbox"
                                            name="Setting_TwoFactorLogin_IsRememberBrowserEnabled"
                                            [(ngModel)]="settings.security.twoFactorLogin.isRememberBrowserEnabled">
                                        <span></span>
                                        {{"AllowToRememberBrowserForTwoFactorLogin" | localize}}
                                    </label>
                                </div>
                            </div>
                            <div *ngIf="!isMultiTenancyEnabled">
                                <h5>{{"OneConcurrentLoginPerUser" | localize}}</h5>
                                <div class="checkbox-list">
                                    <label for="Setting_IsOneConcurrentLoginPerUserActive" class="checkbox">
                                        <input id="Setting_IsOneConcurrentLoginPerUserActive" type="checkbox"
                                            name="Setting_IsOneConcurrentLoginPerUserActive"
                                            [(ngModel)]="settings.security.allowOneConcurrentLoginPerUser">
                                        <span></span>
                                        {{"OneConcurrentLoginPerUserActive" | localize}}
                                    </label>
                                </div>
                            </div>
                        </tab>
                        <tab class="p-5" heading="{{'EmailSmtp' | localize}}"
                            *ngIf="!isMultiTenancyEnabled || appSession.application.allowTenantsToChangeEmailSettings">
                            <div class="form-group m-form__group" *ngIf="isMultiTenancyEnabled">
                                <label for="Settings_UseHostDefaultEmailSettings" class="checkbox">
                                    <input id="Settings_UseHostDefaultEmailSettings" type="checkbox"
                                        name="UseHostDefaultEmailSettings"
                                        [(ngModel)]="settings.email.useHostDefaultEmailSettings">
                                    <span></span>
                                    {{"UseHostDefaultEmailSettings" | localize}}
                                </label>
                            </div>
                            <div [hidden]="settings.email.useHostDefaultEmailSettings">
                                <div class="form-group">
                                    <label for="DefaultFromAddress">{{"DefaultFromAddress" | localize}}</label>
                                    <input id="DefaultFromAddress" type="email" name="DefaultFromAddress"
                                        class="form-control" [ngClass]="{'edited':settings.email.defaultFromAddress}"
                                        [(ngModel)]="settings.email.defaultFromAddress" maxlength="128">
                                </div>
                                <div class="form-group">
                                    <label for="DefaultFromDisplayName">{{"DefaultFromDisplayName" | localize}}</label>
                                    <input id="DefaultFromDisplayName" type="text" name="DefaultFromDisplayName"
                                        class="form-control"
                                        [ngClass]="{'edited':settings.email.defaultFromDisplayName}"
                                        [(ngModel)]="settings.email.defaultFromDisplayName" maxlength="128">
                                </div>
                                <div class="form-group">
                                    <label for="SmtpHost">{{"SmtpHost" | localize}}</label>
                                    <input id="SmtpHost" type="text" name="SmtpHost" class="form-control"
                                        [ngClass]="{'edited':settings.email.smtpHost}"
                                        [(ngModel)]="settings.email.smtpHost" maxlength="64">
                                </div>
                                <div class="form-group">
                                    <label for="SmtpPort">{{"SmtpPort" | localize}}</label>
                                    <input id="SmtpPort" type="number" name="SmtpPort" class="form-control"
                                        [ngClass]="{'edited':settings.email.smtpPort}"
                                        [(ngModel)]="settings.email.smtpPort" maxlength="5">
                                </div>
                                <div class="checkbox-list">
                                    <label for="Settings_SmtpEnableSsl" class="checkbox">
                                        <input id="Settings_SmtpEnableSsl" type="checkbox" name="SmtpEnableSsl"
                                            [(ngModel)]="settings.email.smtpEnableSsl"> {{"UseSsl" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Settings_SmtpUseDefaultCredentials" class="checkbox">
                                        <input id="Settings_SmtpUseDefaultCredentials" type="checkbox"
                                            name="SmtpUseDefaultCredentials"
                                            [(ngModel)]="settings.email.smtpUseDefaultCredentials">
                                        <span></span>
                                        {{"UseDefaultCredentials" | localize}}
                                    </label>
                                </div>
                                <div class="form-group" [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpDomainName">{{"DomainName" | localize}}</label>
                                    <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control"
                                        [ngClass]="{'edited':settings.email.smtpDomain}"
                                        [(ngModel)]="settings.email.smtpDomain" maxlength="128">
                                </div>
                                <div class="form-group" [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpUserName">{{"UserName" | localize}}</label>
                                    <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control"
                                        [ngClass]="{'edited':settings.email.smtpUserName}"
                                        [(ngModel)]="settings.email.smtpUserName" maxlength="128">
                                </div>
                                <div class="form-group" *ngIf="!setRandomPassword"
                                    [hidden]="settings.email.smtpUseDefaultCredentials">
                                    <label for="SmtpPassword">{{"Password" | localize}}</label>
                                    <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control"
                                        [ngClass]="{'edited':settings.email.smtpPassword}"
                                        [(ngModel)]="settings.email.smtpPassword" maxlength="128">
                                </div>
                            </div>
                            <hr />
                            <h5>{{"TestEmailSettingsHeader" | localize}}</h5>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control input-mini" [(ngModel)]="testEmailAddress">
                                </div>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" type="button"
                                        (click)="sendTestEmail()">{{"SendTestEmail" | localize}}</button>
                                </div>
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="true" heading="{{'Invoice' | localize}}">
                            <!-- *ngIf="true" is a workaround for https://github.com/valor-software/ng2-bootstrap/issues/823 -->
                            <h5>{{"InvoiceInformation" | localize}}</h5>
                            <div class="form-group">
                                <label for="LegalName">{{"LegalName" | localize}}</label>
                                <input id="LegalName" type="text" name="legalName" class="form-control"
                                    [ngClass]="{'edited':settings.billing.legalName}"
                                    [(ngModel)]="settings.billing.legalName" maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="Address">{{"Address" | localize}}</label>
                                <textarea id="Address" rows="5" name="address" class="form-control"
                                    [ngClass]="{'edited':settings.billing.address}"
                                    [(ngModel)]="settings.billing.address" maxlength="256"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="taxVatNo">{{"Tax/VatNo" | localize}}</label>
                                <input id="taxVatNo" type="text" name="taxVatNo" class="form-control"
                                    [ngClass]="{'edited':settings.billing.taxVatNo}"
                                    [(ngModel)]="settings.billing.taxVatNo" maxlength="32">
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="!isMultiTenancyEnabled" heading="{{'OtherSettings' | localize}}">
                            <div class="checkbox-list">
                                <h5>{{"IsQuickThemeSelectEnabled" | localize}}</h5>
                                <label for="Settings_IsQuickThemeSelectEnabled" class="checkbox">
                                    <input id="Settings_IsQuickThemeSelectEnabled" class="md-check" type="checkbox"
                                        name="IsQuickThemeSelectEnabled"
                                        [(ngModel)]="settings.otherSettings.isQuickThemeSelectEnabled">
                                    <span></span>
                                    {{"IsQuickThemeSelectEnabled" | localize}}
                                </label>
                            </div>
                        </tab>
                        <tab class="p-5" *ngIf="enabledSocialLoginSettings" heading="{{'ExternalLoginSettings' | localize}}">
                            <div *ngIf="enabledSocialLoginSettings.indexOf('Facebook')!== -1">
                                <h5>Facebook</h5>
                                <label for="Settings_Facebook_UseHostSettings" class="checkbox">
                                    <input id="Settings_Facebook_UseHostSettings" class="md-check" type="checkbox"
                                           name="Settings_Facebook_UseHostSettings"
                                           [(ngModel)]="useFacebookHostSettings" (change)="clearFacebookSettings()">
                                    <span></span>
                                    {{"UseHostSettings" | localize}}
                                </label>
                                <div *ngIf="!useFacebookHostSettings">
                                    <div class="form-group">
                                        <label for="Setting_Facebook_AppId">{{"AppId" | localize}}*</label>
                                        <input id="Setting_Facebook_AppId" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.facebook.appId">
                                    </div>
                                    <div class="form-group">
                                        <label>{{"AppSecret" | localize}}*</label>
                                        <password-input-with-show-button
                                            [(data)]="settings.externalLoginProviderSettings.facebook.appSecret"></password-input-with-show-button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="enabledSocialLoginSettings.indexOf('Google')!== -1">
                                <hr/>
                                <h5>Google</h5>
                                <label for="Settings_Google_UseHostSettings" class="checkbox">
                                    <input id="Settings_Google_UseHostSettings" class="md-check" type="checkbox"
                                           name="Settings_Google_UseHostSettings"
                                           [(ngModel)]="useGoogleHostSettings" (change)="clearGoogleSettings()">
                                    <span></span>
                                    {{"UseHostSettings" | localize}}
                                </label>
                                <div *ngIf="!useGoogleHostSettings">
                                    <div class="form-group">
                                        <label for="Setting_Google_ClientId">{{"ClientId" | localize}}*</label>
                                        <input id="Setting_Google_ClientId" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.google.clientId">
                                    </div>
                                    <div class="form-group">
                                        <label>{{"ClientSecret" | localize}}*</label>
                                        <password-input-with-show-button
                                            [(data)]="settings.externalLoginProviderSettings.google.clientSecret"></password-input-with-show-button>
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_Google_UserInfoEndpoint">{{"UserInfoEndpoint" | localize}}*</label>
                                        <input id="Setting_Google_UserInfoEndpoint" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.google.userInfoEndpoint">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="enabledSocialLoginSettings.indexOf('Microsoft')!== -1">
                                <hr/>
                                <h5>Microsoft</h5>
                                <label for="Settings_Microsoft_UseHostSettings" class="checkbox">
                                    <input id="Settings_Microsoft_UseHostSettings" class="md-check" type="checkbox"
                                           name="Settings_Microsoft_UseHostSettings"
                                           [(ngModel)]="useMicrosoftHostSettings" (change)="clearMicrosoftSettings()">
                                    <span></span>
                                    {{"UseHostSettings" | localize}}
                                </label>
                                <div *ngIf="!useMicrosoftHostSettings">
                                    <div class="form-group">
                                        <label for="Setting_Microsoft_ClientId">{{"ClientId" | localize}}*</label>
                                        <input id="Setting_Microsoft_ClientId" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.microsoft.clientId">
                                    </div>
                                    <div class="form-group">
                                        <label>{{"ClientSecret" | localize}}*</label>
                                        <password-input-with-show-button
                                            [(data)]="settings.externalLoginProviderSettings.microsoft.clientSecret"></password-input-with-show-button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="enabledSocialLoginSettings.indexOf('WsFederation')!== -1" class="mb-4">
                                <hr/>
                                <h5>WsFederation</h5>
                                <label for="Settings_WsFederation_UseHostSettings" class="checkbox">
                                    <input id="Settings_WsFederation_UseHostSettings" class="md-check" type="checkbox"
                                           name="Settings_WsFederation_UseHostSettings"
                                           [(ngModel)]="useWsFederationHostSettings" (change)="clearWsFederationSettings()">
                                    <span></span>
                                    {{"UseHostSettings" | localize}}
                                </label>
                                <div [class.d-none]="useWsFederationHostSettings">
                                    <div class="form-group">
                                        <label for="Setting_WsFederation_ClientId">{{"ClientId" | localize}}</label>
                                        <input id="Setting_WsFederation_ClientId" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.clientId">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_WsFederation_Tenant">{{"Tenant" | localize}}</label>
                                        <input id="Setting_WsFederation_Tenant" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.tenant">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_WsFederation_MetaDataAddress">{{"MetaDataAddress" | localize}}</label>
                                        <input id="Setting_WsFederation_MetaDataAddress" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.metaDataAddress">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_WsFederation_Wtrealm">{{"Wtrealm" | localize}}</label>
                                        <input id="Setting_WsFederation_Wtrealm" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.wtrealm">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_WsFederation_Authority">{{"Authority" | localize}}</label>
                                        <input id="Setting_WsFederation_Authority" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.wsFederation.authority">
                                    </div>
                                    <key-value-list-manager
                                        #wsFederationClaimsMappingManager
                                        [header]="l('ClaimsMapping')"
                                        [keyPlaceHolder]="l('ClaimKey')"
                                        [valuePlaceHolder]="l('ClaimValue')"
                                        [items]="wsFederationClaimMappings"
                                    ></key-value-list-manager>
                                </div>
                            </div>

                            <div *ngIf="enabledSocialLoginSettings.indexOf('OpenId')!== -1">
                                <hr/>
                                <h5>OpenIdConnect</h5>
                                <label for="Settings_OpenIdConnect_UseHostSettings" class="checkbox">
                                    <input id="Settings_OpenIdConnect_UseHostSettings" class="md-check" type="checkbox"
                                           name="Settings_OpenIdConnect_UseHostSettings"
                                           [(ngModel)]="useOpenIdConnectHostSettings" (change)="clearOpenIdSettings()">
                                    <span></span>
                                    {{"UseHostSettings" | localize}}
                                </label>
                                <div [class.d-none]="useOpenIdConnectHostSettings">
                                    <div class="form-group">
                                        <label for="Setting_OpenIdConnect_ClientId">{{"ClientId" | localize}}</label>
                                        <input id="Setting_OpenIdConnect_ClientId" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.clientId">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_OpenIdConnect_ClientSecret">{{"ClientSecret" | localize}}</label>
                                        <input id="Setting_OpenIdConnect_ClientSecret" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.clientSecret">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_OpenIdConnect_Authority">{{"Authority" | localize}}</label>
                                        <input id="Setting_OpenIdConnect_Authority" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.authority">
                                    </div>
                                    <div class="form-group">
                                        <label for="Setting_OpenIdConnect_LoginUrl">{{"LoginUrl" | localize}}</label>
                                        <input id="Setting_OpenIdConnect_LoginUrl" type="text" class="form-control"
                                               [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.loginUrl">
                                    </div>
                                    <label for="Setting_OpenIdConnect_ValidateIssuer" class="checkbox mb-3" style="margin-bottom: 0">
                                        <input id="Setting_OpenIdConnect_ValidateIssuer" class="check" type="checkbox" name="AllowSelfRegistration"
                                               [(ngModel)]="settings.externalLoginProviderSettings.openIdConnect.validateIssuer">
                                        <span></span>
                                        {{"ValidateIssuer" | localize}}
                                    </label>
                                    <key-value-list-manager
                                        #openIdConnectClaimsMappingManager
                                        [header]="l('ClaimsMapping')"
                                        [keyPlaceHolder]="l('ClaimKey')"
                                        [valuePlaceHolder]="l('ClaimValue')"
                                        [items]="openIdConnectClaimMappings">
                                    </key-value-list-manager>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
