<div class="cursor-pointer shadow-xs" [ngClass]="isToggled ? 'toggle-on' : 'toggle-off'" (click)="toggleDisplay()">
    <!--begin::Message Heading-->
    <div class="d-flex card-spacer-x py-6 flex-column flex-md-row flex-lg-column flex-xxl-row justify-content-between">
        <div class="d-flex align-items-center">
            <span class="symbol symbol-50 mr-4">
                <span class="symbol-label"
                    [ngStyle]="{'background-image': 'url(\'' + profilePictureUrl + '\')'}"></span>
            </span>
            <div class="d-flex flex-column flex-grow-1 flex-wrap mr-2">
                <div class="d-flex">
                    <a href="javascript:;" class="font-size-lg font-weight-bolder text-dark-75 text-hover-primary mr-2">
                        {{item.senderName || item.sender}}
                    </a>
                    <div class="font-weight-bold text-muted">
                        {{item.receivedOnUtc | momentFromNow}}
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="toggle-off-item" dropdown>
                        <span class="font-weight-bold text-muted cursor-pointer" dropdownToggle aria-expanded="false">
                            to {{item.receiver || item.receiverName}}
                            <!-- <i class="flaticon2-down icon-xs ml-1 text-dark-50"></i> -->
                        </span>
                        <div *dropdownMenu class="dropdown-menu dropdown-menu-lg dropdown-menu-left p-5">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="text-muted min-w-75px py-2">{{'From' | localize}}</td>
                                        <td>{{item.senderName || item.sender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted py-2">{{'Date' | localize}}:</td>
                                        <td>{{item.receivedOnUtc | momentFormat : 'llll'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-muted py-2">{{'Subject' | localize}}:</td>
                                        <td>{{item.subject}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="toggle-on-item">
                        <p class="text-muted font-weight-bold">{{shortMessage}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="d-flex my-2 my-xxl-0 align-items-md-center align-items-lg-start align-items-xxl-center flex-column flex-md-row flex-lg-column flex-xxl-row">
            <div class="font-weight-bold text-muted mx-2">{{item.receivedOnUtc | momentFormat : 'llll'}}</div>
        </div>
    </div>
    <!--end::Message Heading-->
    <div class="card-spacer-x py-3 toggle-off-item">
        <pre>{{item.message}}</pre>
    </div>
</div>
