<div appBsModal
     #duplicateSigningModal="bs-modal"
     class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active"
                  #duplicateSigningModalForm="ngForm"
                  novalidate
                  class="form form-label-right">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="!forNextSigning">{{l('Duplicate')}}</span>
                        <span *ngIf="forNextSigning">{{l('DuplicateForNextSigning')}}</span>
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true"
                            (click)="close()">
                        <i aria-hidden="true"
                           class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>{{l('SigningName')}}</label>
                        <input id="SigningName"
                               #signingName="ngModel"
                               class="form-control"
                               type="text"
                               name="SigningName"
                               [(ngModel)]="name"
                               required
                               maxlength="64">
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving"
                            type="button"
                            class="btn btn-light-primary font-weight-bold"
                            (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>

                    <button type="button"
                            class="btn btn-primary font-weight-bold save-button"
                            (click)="save()"
                            [disabled]="!duplicateSigningModalForm.valid"
                            [buttonBusy]="saving"
                            [busyText]="'ProcessingWithThreeDot' | localize">
                        <i class="fa fa-arrow-circle-right"></i>
                        {{ 'Save' | localize }}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
