<div appBsModal
     #uploadDocumentModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="uploadDocumentModal"
     aria-hidden="true"
     [config]="{backdrop: 'static'}">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div [hidden]="!active">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>Select Transaction Form</span>
                    </h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true"
                            (click)="close()">
                        <i aria-hidden="true"
                           class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body row-action-click">
                    <div>
                        <div>
                            <label for="agentFilter">{{'Transaction' | localize}}</label>

                            <autocomplete-transaction-input [isEditMode]="true"
                                                        [(transaction)]="transaction"
                                                        (transactionChange)="getForms()">
                            </autocomplete-transaction-input>
                        </div>
                    </div>
                    <div *ngIf="transaction && transaction.id" class="mt-4">
                        <forms-table #formTable
                            [options]="options"
                            [items]="items"
                            [totalCount]="totalCount"
                            (onGetAll)="getAll($event)"
                            (onSelect)="selectForm($event)"
                            (onSelectMany)="selectForms($event)"></forms-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
