.signature-control-modal {

    &__wrapper {
        position: relative;
    }

    &__canvas {

        canvas {
            background-color: @main-white-third;
            border: 1px solid @main-border;
        }
    }
}
