<div appBsModal
     (onShown)="onShown()"
     #signatureControlModal="bs-modal"
     class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div *ngIf="active">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Signature Control Modal</span>
                    </h4>
                    <button type="button"
                            class="close"
                            (click)="close()"
                            [attr.aria-label]="l('Close')"
                            [disabled]="saving">
                        <i aria-hidden="true"
                           class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <tabset class="new-tabs">
                        <tab heading="Draw">
                            <div class="signature-control-modal__wrapper">
                                <div class="signature-control-modal__canvas">
                                    <canvas #signaturePadRef
                                            width="600"
                                            height="300"
                                            (mousedown)="drawStart($event)"
                                            (mouseup)="drawComplete($event)"
                                            (mousemove)="drawProces($event)"></canvas>
                                </div>

                                <div class="signature-control-modal__actions">
                                    <button (click)="drawClear()">clear</button>
                                    <button (click)="drawSave()">save</button>
                                </div>

                                <div class="signature-control-modal__preview">
                                    <img [src]="img">
                                </div>
                            </div>
                        </tab>
                        <tab heading="Type">
                        </tab>
                    </tabset>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving"
                            type="button"
                            class="btn btn-light-primary font-weight-bold"
                            (click)="close()">
                        {{ 'Cancel' | localize }}
                    </button>

                    <button type="button"
                            class="btn btn-primary font-weight-bold"
                            (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Save' | localize }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
