<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="w-100 d-flex align-items-center">
            <div class="w-100 d-flex justify-content-between">
                <h4 class="card-label mb-0 d-flex align-items-center">
                    {{ lead.contact.firstName
                        + (lead.contact.middleName && lead.contact.middleName.length
                            ? (' ' + lead.contact.middleName)
                            : '') 
                        + ' ' 
                        + lead.contact.lastName }}
                </h4>
                <div>
                    <button class="btn btn-primary mr-3"
                            (click)="saveLead()"
                            *ngIf="isEditMode"
                            title="Save">
                        <i class="la la-save edit-control"></i>
                        {{ 'Save' | localize }}
                    </button>

                    <button class="btn btn-primary mr-3"
                            (click)="isEditMode = true"
                            *ngIf="!isEditMode"
                            title="Edit">
                        <i class="la la-pencil edit-control"></i>
                        {{ 'Edit' | localize }}
                    </button>

                    <a class="card-header-button chevron"
                       (click)="isOpenedChange.emit(!isOpened)">
                        <i class="pi pi-fw pi-chevron-up"
                           [ngClass]="{'closed': !isOpened }"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body py-0"
         *ngIf="isOpened && lead && lead.contact">
        <div class="row mx-1">
            <div class="col-lg-12 d-flex flex-column pb-4 px-0">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-1 px-0 pr-10">
                            <span class="font-weight-bold mr-2">Status:</span>
                            <span *ngIf="!isEditMode"
                                  class="text-muted">
                                {{ getStatusDescription(lead.status) }}
                            </span>
                            <div *ngIf="isEditMode">
                                <general-combo name="LeadStatus"
                                               [values]="statusValues"
                                               [(selectedValue)]="lead.status">
                                </general-combo>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-1 px-0 pr-10"
                             *ngIf="'Pages.Users.Agents' | permission">
                            <span class="font-weight-bold mr-2">Assigned To:</span>
                            <autocomplete-user-input [isEditMode]="isEditMode"
                                                     [(user)]="agent"
                                                     (userChange)="lead.agentId = $event.publicId"
                                                     [userRole]="'Agent'">
                            </autocomplete-user-input>
                        </div>
                    
                        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-1 px-0 pr-10">
                            <span class="font-weight-bold mr-2">Source:</span>
                            <span *ngIf="!isEditMode"
                                class="text-muted text-hover-primary">
                                {{ getSourceDescription(lead.source) }}
                            </span>
                            <div *ngIf="isEditMode">
                                <general-combo name="LeadExternalSource"
                                            [values]="sourceValues"
                                            [(selectedValue)]="lead.source">
                                </general-combo>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-1 px-0 pr-10"
                            *ngIf="lead.source == 1">
                            <span class="font-weight-bold mr-2">Yougotlisting ID:</span>
                            <span *ngIf="!isEditMode"
                                class="text-muted text-hover-primary">
                                {{ lead.externalId }}
                            </span>
                            <div *ngIf="isEditMode">
                                <input id="LeadExternalId"
                                    #leadExternalIdInput="ngModel"
                                    type="text"
                                    name="LeadExternalId"
                                    class="form-control"
                                    [(ngModel)]="lead.externalId"
                                    required
                                    maxlength="1024" />
                                <validation-messages [formCtrl]="leadExternalIdInput"></validation-messages>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-1 px-0 pr-10"
                            *ngIf="lead.source == 1">
                            <span class="font-weight-bold mr-2">External Source:</span>
                            <span *ngIf="!isEditMode"
                                class="text-muted text-hover-primary">
                                {{ lead.externalSource }}
                            </span>
                            <div *ngIf="isEditMode">
                                <input id="LeadExternalSource"
                                    type="text"
                                    name="LeadExternalSource"
                                    class="form-control"
                                    [(ngModel)]="lead.externalSource" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-1">
            <div class="col-lg-12 pt-3 d-flex flex-column pb-4 px-0">
                <span class="font-weight-bold">Tags:</span>
                <div class="text-muted"
                     [ngClass]="{ 'disabled-ngx-tags-input' : !isEditMode }">
                    <ngx-tags-input class="form-control input-lg"
                                    [canAddTags]="isEditMode"
                                    [canDeleteTags]="isEditMode"
                                    (onTagsChanged)="onTagsChanged($event)"
                                    [(ngModel)]="tags"
                                    name="tags">
                    </ngx-tags-input>
                </div>
            </div>
        </div>
        <div class="row py-3 mx-1"
             *ngIf="(lead.notes && lead.notes.length > 0) || isEditMode">
            <div class="col-lg-12 d-flex flex-column py-1 px-0">
                <span class="font-weight-bold mr-2">Notes:</span>
                <span *ngIf="!isEditMode"
                      class="text-muted text-hover-primary">{{ lead.notes }}</span>
                <div *ngIf="isEditMode">
                    <textarea class="w-100"
                              [(ngModel)]="lead.notes"
                              name="LeadNotes"
                              [style]="{'height':'300px'}">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
