@main-color: #2276aa;
@main-color-second: #72b3db;
@main-color-grey: #45464b;
@main-border: #0b4a72;
@main-border-second: #2474a5;
@main-border-third: #dbdddf;
@main-white: #fff;
@main-white-second: #fafafa; 
@main-white-third: #fafafac0; 
@main-black: #000;
@main-black-second: #36383b;
@main-black-third: #36383ba4;
@disabled-color: #afafb1;
@disabled-color-second: #e1e1e2;
@disabled-color-third: #f0f0f0;
@box-shadow: #c0c1c2;
@box-shadow-icon: #e2f3ff;
