.signature-control {
    width: 100%;
    height: 100%;

    label {
        margin: 0;
        width: 100%;
        height: 100%;
        border: 1px solid @main-border;

        input {
            display: inline-flex;
            padding: 0;
            width: 100%;
            height: 100%;
            vertical-align: baseline;
        }
    }
}
