<div appBsModal #settingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #settingsForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{'CommunicationSettings' | localize}}
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="'Close' | localize"
                        [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab class="pt-5" [heading]="'Imap' | localize">
                            <div class="form-group checkbox-list">
                                <label for="ImapEnable" class="checkbox">
                                    <input id="ImapEnable" type="checkbox" name="ImapEnable"
                                        [(ngModel)]="settings.imap.isEnabled">
                                    <span></span>
                                    {{"IsEnabled" | localize}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="ImapHost">{{"Host" | localize}}</label>
                                <input id="ImapHost" type="text" name="ImapHost" class="form-control"
                                    [ngClass]="{'edited':settings.imap.host}" [(ngModel)]="settings.imap.host"
                                    maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="ImapPort">{{"Port" | localize}}</label>
                                <input id="ImapPort" type="number" name="ImapPort" class="form-control"
                                    [ngClass]="{'edited':settings.imap.port}" [(ngModel)]="settings.imap.port"
                                    maxlength="5">
                            </div>
                            <div class="form-group checkbox-list">
                                <label for="ImapEnableSsl" class="checkbox">
                                    <input id="ImapEnableSsl" type="checkbox" name="ImapEnableSsl"
                                        [(ngModel)]="settings.imap.enableSsl">
                                    <span></span>
                                    {{"UseSsl" | localize}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="ImapDomainName">{{"DomainName" | localize}}</label>
                                <input id="ImapDomainName" type="text" name="ImapDomainName" class="form-control"
                                    [ngClass]="{'edited':settings.imap.domain}" [(ngModel)]="settings.imap.domain"
                                    maxlength="128">
                            </div>
                            <div class="form-group">
                                <label for="ImapUserName">{{"UserName" | localize}}</label>
                                <input id="ImapUserName" type="text" name="ImapUserName" class="form-control"
                                    [ngClass]="{'edited':settings.imap.userName}" [(ngModel)]="settings.imap.userName"
                                    maxlength="128">
                            </div>
                            <div class="form-group">
                                <label for="ImapPassword">{{"Password" | localize}}</label>
                                <input id="ImapPassword" type="password" name="ImapPassword" class="form-control"
                                    [ngClass]="{'edited':settings.imap.password}" [(ngModel)]="settings.imap.password"
                                    maxlength="128">
                            </div>
                        </tab>
                        <tab class="pt-5" [heading]="'Smtp' | localize">
                            <div class="form-group checkbox-list">
                                <label for="SmtpEnable" class="checkbox">
                                    <input id="SmtpEnable" type="checkbox" name="SmtpEnable"
                                        [(ngModel)]="settings.smtp.isEnabled">
                                    <span></span>
                                    {{"IsEnabled" | localize}}
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="SmtpHost">{{"Host" | localize}}</label>
                                <input id="SmtpHost" type="text" name="SmtpHost" class="form-control"
                                    [ngClass]="{'edited':settings.smtp.host}" [(ngModel)]="settings.smtp.host"
                                    maxlength="64">
                            </div>
                            <div class="form-group">
                                <label for="SmtpPort">{{"Port" | localize}}</label>
                                <input id="SmtpPort" type="number" name="SmtpPort" class="form-control"
                                    [ngClass]="{'edited':settings.smtp.port}" [(ngModel)]="settings.smtp.port"
                                    maxlength="5">
                            </div>
                            <div class="form-group checkbox-list">
                                <label for="SmtpEnableSsl" class="checkbox">
                                    <input id="SmtpEnableSsl" type="checkbox" name="SmtpEnableSsl"
                                        [(ngModel)]="settings.smtp.enableSsl">
                                    <span></span>
                                    {{"UseSsl" | localize}}
                                </label>
                                <label for="SmtpUseDefaultCredentials" class="checkbox">
                                    <input id="SmtpUseDefaultCredentials" type="checkbox"
                                        name="SmtpUseDefaultCredentials"
                                        [(ngModel)]="settings.smtp.useDefaultCredentials">
                                    <span></span>
                                    {{"UseDefaultCredentials" | localize}}
                                </label>
                            </div>
                            <div class="form-group" [hidden]="settings.smtp.useDefaultCredentials">
                                <label for="SmtpDomainName">{{"DomainName" | localize}}</label>
                                <input id="SmtpDomainName" type="text" name="SmtpDomainName" class="form-control"
                                    [ngClass]="{'edited':settings.smtp.domain}" [(ngModel)]="settings.smtp.domain"
                                    maxlength="128">
                            </div>
                            <div class="form-group" [hidden]="settings.smtp.useDefaultCredentials">
                                <label for="SmtpUserName">{{"UserName" | localize}}</label>
                                <input id="SmtpUserName" type="text" name="SmtpUserName" class="form-control"
                                    [ngClass]="{'edited':settings.smtp.userName}" [(ngModel)]="settings.smtp.userName"
                                    maxlength="128">
                            </div>
                            <div class="form-group" [hidden]="settings.smtp.useDefaultCredentials">
                                <label for="SmtpPassword">{{"Password" | localize}}</label>
                                <input id="SmtpPassword" type="password" name="SmtpPassword" class="form-control"
                                    [ngClass]="{'edited':settings.smtp.password}" [(ngModel)]="settings.smtp.password"
                                    maxlength="128">
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold"
                        (click)="close()">
                        {{"Cancel" | localize}}
                    </button>

                    <button type="submit" class="btn btn-primary font-weight-bold save-button" [disabled]="!settingsForm.form.valid"
                        [buttonBusy]="saving" [busyText]="'SavingWithThreeDot' | localize">
                        <i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
