.m-error_container .m-error_title > h1 {
    font-size: 100px;
    margin-left: 80px;
    font-weight: 600;
    color: #6587C6;
}

.m-error_container .m-error_subtitle {
    margin-left: 80px;
    color: #898b96;
}

.m-error_container .m-error_description {
    margin-left: 80px;
    margin-bottom: 50px;
    color: #898b96;
}
