<div>
    <div class="d-flex justify-content-end pb-3">
        <button *ngIf="'Pages.Signing.Create' | permission"
                type="button"
                (click)="openModal()"
                class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {{ 'Create_New_Form' | localize }}
        </button>
    </div>

    <div>
        <forms-table #formTable
            [items]="items"
            [totalCount]="totalCount"
            (onGetAll)="getAll($event)"
            (onDelete)="delete($event)"></forms-table>
    </div>
</div>

<upload-document-modal #uploadDocumentRef
                        [signingId]="signingId"
                       (modalSave)="fileSaved($event)">
</upload-document-modal>
