<div [busyIf]="loading">
    <div class="d-flex justify-content-end pb-3">
        <button *ngIf="'Pages.Signing.Create' | permission"
                type="button"
                (click)="openModal()"
                class="btn btn-primary">
            <i class="fa fa-plus"></i>
            {{ 'Create_New_Form' | localize }}
        </button>
    </div>

    <div [ngClass]="{'row-action-click': allowEdit}">
        <forms-table #formTable
                     [items]="items"
                     [signingId]="signingId"
                     [signingCompleted]="signingCompleted"
                     [dndEnabled]="allowEdit"
                     [options]="options"
                     [totalCount]="totalCount"
                     [allowEdit]="allowEdit"
                     (onGetAll)="getAll($event)"
                     (onDelete)="delete($event)"
                     (onDownloadOriginalDocument)="onDownloadOriginalDocument($event)"
                     (onDownloadSignedDocument)="onDownloadSignedDocument($event)"
                     [showDownloadOriginal]="true"
                     [doNotShowMulti]="true"
                     >
        </forms-table>
    </div>
</div>

<upload-document-modal #uploadDocumentRef
                       [signingId]="signingId"
                       (modalSave)="reload($event)">
</upload-document-modal>
