<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'OrganizationUnits' | localize" [description]="'OrganizationUnitsHeaderInfo' | localize">
        </sub-header>
        <div [class]="containerClass">
            <div class="row">
                <div class="col-6">
                    <organization-tree #ouTree (ouSelected)="ouSelected($event)"></organization-tree>
                </div>
                <div class="col-6">
                    <div class="card card-custom gutter-b">
                        <div class="card-header align-items-center border-0">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="font-weight-bolder text-dark">  <span *ngIf="organizationUnit">{{organizationUnit.displayName}}</span></span>
                            </h3>
                        </div>
                        <div class="card-body">
                            <tabset class="tab-container">
                                <tab heading="{{'Members' | localize}}" [active]="true">
                                    <organization-unit-members #ouMembers (membersAdded)="ouTree.membersAdded($event)"
                                        (memberRemoved)="ouTree.memberRemoved($event)"></organization-unit-members>
                                </tab>
                                <tab heading="{{'Roles' | localize}}">
                                    <organization-unit-roles #ouRoles (rolesAdded)="ouTree.rolesAdded($event)"
                                        (roleRemoved)="ouTree.roleRemoved($event)"></organization-unit-roles>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
