<p-carousel [value]="items"
            [circular]="false"
            [numVisible]="1"
            [numScroll]="1">
    <ng-template let-item
                 pTemplate="item">
        <img src="{{ item.url }}"
             [alt]="item.name"
             class="item-image" />
    </ng-template>
</p-carousel>
<button type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
        (click)="close()">
    <i aria-hidden="true"
       class="ki ki-close"></i>
</button>
