theme6-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#kt_wrapper > ng-component {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.unread-notification-count {
  position: absolute;
  top: 5px;
  left: 23px;
}

.unread-chat-message-count {
  position: absolute;
  top: -6px;
  left: 13px;
}
menu-search-bar {
    min-width: 100px !important;
}

p-autoComplete{
    padding: 10px;
}

.menuSearchBarContainer{
    width: calc(100% - 20px);
}
