<div *ngIf="document">
    <div class="document-view__wrapper new-scrollbar">
        <document-page *ngFor="let page of document.pages; trackBy: trackByIndex"
                       [page]="page"
                       [mainLayer]="mainLayer"
                       [publicMode]="publicMode"
                       [adminView]="adminView"
                       [participantId]="participantId"
                       [participants]="participants"
                       [participantMappingItems]="participantMappingItems"
                       [accessSetting]="accessSetting"
                       [documentId]="document.id"
                       (controlDropped)="onControlDropped()"
                       [pageHeight]="document.height"
                       [pageWidth]="document.width">
        </document-page>
    </div>
</div>
<!-- <signature-control-modal #signatureControlRef
                         (modalSave)="onModalSave($event)">
</signature-control-modal> -->

<!-- <mat-signature-control-modal #matSignatureControlRef></mat-signature-control-modal> -->

<upload-attachment-modal #uploadAttachmentRef
                         (modalSave)="onModalSave($event)">
</upload-attachment-modal>
