<div class="listing-form">
    <div class="listing-form__header">
        <span class="listing-form__header-image"></span>
        <div class="listing-form__header-description" *ngIf="recommendedListing">
            <span>{{recommendedListing.agentFullName}}</span>
            <span>{{recommendedListing.agentPhone}}</span>
            <span>{{recommendedListing.agentEmail}}</span>
        </div>
    </div>

    <div class="listing-form__request">
        <h4>Request a tour</h4>

        <form #requestTourModal="ngForm"
              novalidate
              class="form form-label-right">

            <div class="form-group">
                <ui-select [uiList]="times"
                           [model]="mode"
                           [title]="'Time'"
                           (selected)="onTimeChange($event)">
                </ui-select>
            </div>

            <div class="form-group">
                <label>
                    <span>Date</span>
                    <input type="text"
                           #datePickerRef
                           [name]="'datePicker'"
                           class="form-control"
                           bsDatepicker
                           datePickerMomentModifier
                           [(date)]="date"
                           (keypress)="numberOnly($event)"
                           [bsConfig]="{ adaptivePosition: true }" />
                </label>

            </div>

            <button type="button"
                    class="btn btn-primary font-weight-bold"
                    (click)="saveTour()"
                    [disabled]="!date">
                <i class="fa fa-paper-plane"></i>
                {{ 'Send Request' }}
            </button>

        </form>
    </div>

    <div class="listing-form__question">
        <h4>Ask a question</h4>

        <form #askQuestionModal="ngForm"
              novalidate
              class="form form-label-right">
            <div class="form-group">
                <textarea #formQuestion="ngModel"
                          class="form-control"
                          type="text"
                          rows="4"
                          name="question"
                          [(ngModel)]="question"
                          required></textarea>
            </div>

            <button type="button"
                    class="btn btn-primary font-weight-bold"
                    (click)="saveQuestion()"
                    [disabled]="!askQuestionModal.valid">
                <i class="fa fa-question-circle"></i>
                {{ 'Send Question' }}
            </button>
        </form>
    </div>
</div>
