<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Lead'"
                    [breadcrumbs]="breadcrumbs">
        </sub-header>

        <div [class]="containerClass"
             *ngIf="lead">
            <lead-general-info-section [(lead)]="lead"
                                       [(isEditMode)]="isEditMode"
                                       *ngIf="!searchListingMode && !isShowDetail && lead && lead.contact"
                                       [(isOpened)]="accordionOptions.generalInfoOpened">
            </lead-general-info-section>

            <div class="card card-custom gutter-b"
                *ngIf="!searchListingMode && !isShowDetail && lead && lead.id">

                <div class="card-body">
                    <lead-contacts [leadId]="lead.id">

                    </lead-contacts>
                </div>
            </div>

            <div *ngIf="lead && lead.id">
                <div class="card card-custom gutter-b"
                     *ngIf="!searchListingMode && !isShowDetail">
                    <div class="card-header">
                        <div class="w-100 d-flex align-items-center">
                            <div class="w-100 d-flex justify-content-between">
                                <h4 class="card-label mb-0 d-flex align-items-center">Recommended Listings</h4>
                                <div>
                                    <button class="btn btn-primary mr-3"
                                            (click)="sendRecommendedListingModal.show(lead)"
                                            title="Send">
                                        <i class="fa fa-send"></i>
                                        {{ 'Send' | localize }}
                                    </button>

                                    <button class="btn btn-primary mr-3"
                                            (click)="searchListingMode = true"
                                            title="Add Listing">
                                        <i class="fa fa-plus edit-control"></i>
                                        {{ 'AddListing' | localize }}
                                    </button>

                                    <a class="card-header-button chevron"
                                       (click)="accordionOptions.recommendedListingsOpened = !accordionOptions.recommendedListingsOpened">
                                        <i class="pi pi-fw pi-chevron-up"
                                           [ngClass]="{'closed': !accordionOptions.recommendedListingsOpened }"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0"
                         *ngIf="accordionOptions.recommendedListingsOpened && !isShowDetail">
                        <recommended-listings #recommendedListings
                                              [leadId]="lead.id"
                                              (recommendListingIds)="recommendListingIds = $event">
                        </recommended-listings>
                    </div>
                </div>

                <div class="card card-custom gutter-b"
                     *ngIf="!searchListingMode && lead.contact && lead.contact.email && lead.contact.email.length > 0 && !isShowDetail">
                    <div class="card-header">
                        <div class="w-100 d-flex align-items-center">
                            <div class="w-100 d-flex justify-content-between">
                                <h4 class="card-label mb-0 d-flex align-items-center">Communications</h4>
                                <div>
                                    <a class="card-header-button chevron"
                                       (click)="accordionOptions.communicationOpened = !accordionOptions.communicationOpened">
                                        <i class="pi pi-fw pi-chevron-up"
                                           [ngClass]="{'closed': !accordionOptions.communicationOpened }"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0"
                         *ngIf="accordionOptions.communicationOpened">
                        <comms-inbox-view class="flex-row-fluid d-block"
                                          [contact]="lead.contact.email">
                        </comms-inbox-view>
                    </div>
                </div>

                <div class="card card-custom gutter-b"
                     [hidden]="!searchListingMode">
                    <div class="card-header">
                        <div class="w-100 d-flex align-items-center">
                            <div class="w-100 d-flex justify-content-between">
                                <h4 class="card-label mb-0 d-flex align-items-center">Search Listing</h4>
                                <div>
                                    <button class="btn btn-secondary"
                                            (click)="searchListingMode = false">
                                        <i class="fa fa-arrow-left"></i>
                                        Back to lead
                                    </button>
                                    <button class="btn btn-primary"
                                            *ngIf="!isShowDetail"
                                            (click)="onSaveListings()">
                                        <i class="fa fa-plus"></i>
                                        {{ 'Save'| localize }}
                                        <span *ngIf="recommendListingIds">
                                            ({{ recommendListingIds.length }})
                                            Listings
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body py-0"
                         [hidden]="isShowDetail || !accordionOptions.recommendedListingsOpened">
                        <search-listings [(selectedListingIds)]="recommendListingIds"
                                         [cloneLead]="lead">
                        </search-listings>
                    </div>
                </div>

                <ng-container *ngIf="isShowDetail">
                    <ng-container *ngTemplateOutlet="leadListingDetail"></ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #leadListingDetail>
    <lead-listing-detail></lead-listing-detail>
</ng-template>


<email-listings-modal #emailListingsModalRef>
</email-listings-modal>

<send-recommended-listings-modal #sendRecommendedListingModal></send-recommended-listings-modal>
