<div class="d-flex h-100 align-items-center" style="padding-bottom: 150px !important;">
    <div class="login-form align-middle m-0 text-center">
        <div class="pb-13 pt-lg-0 pt-5">
            <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
                {{"ThankYou" | localize}}
            </h3>
            <p class="text-center">
                {{"YourPaymentHasBeenCompleted" | localize}}
            </p>
        </div>
        <div class="my-5">&emsp;
            <i class="fas fa-check fa-4x text-success"></i>
        </div>
        <a class="btn btn-info" href="/app/admin/subscription-management">
            {{"GoToSubscriptionManagement" | localize}}</a>
    </div>
</div>