.page-control {
    width: max-content;
    position: absolute;
    z-index: 1;

    .test-page-control-info {
        position: absolute;
        top: -24px;
        left: 50%;
        padding: 2px 4px;
        color: crimson;
        background-color: white;
        box-shadow: 0 0 4px grey;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        white-space: nowrap;
        transform: translate(-50%, 0);
        opacity: 0;
    }

    &__focused {
        label {
            box-shadow: 0 0 14px 4px @box-shadow-icon;

            &:focus {
                outline: -webkit-focus-ring-color auto 0px;
            }
        }
    }

    &.top-control {
        z-index: 2;
    }

    &.no-actions {
        .resizable-draggable {
            cursor: pointer;
        }
    }

    &.signature-design {
        .control-signature {
            &:before {
                content: 'signing here';
                position: absolute;
                top: -60px;
                padding: 2px 6px 0;
                width: 85px;
                color: @main-color;
                background-color: @box-shadow-text;
                border-radius: 4px;
                text-shadow: 0px 0px 2px @main-white;
                text-transform: uppercase;
                text-align: center;
                font-size: 18px;
                line-height: 0.9;
            }

            &:after {
                content: '';
                position: absolute;
                top: -24px;
                left: 50%;
                width: 0;
                height: 0;
                border-right: 20px solid transparent;
                border-top: 20px solid @main-color;
                border-left: 20px solid transparent;
                transform: translate(-50%, 0);
            }
        }
    }

    &.multi-select {
        .resizable-draggable {
            border: 2px solid;
            box-shadow: 0 0 4px 0 @box-shadow;
        }
    }

    &.hide-dragging {
        .resizable-draggable {
            opacity: 0;

            &.control-diagonal-line,
            &.control-horizontal-line,
            &.control-vertical-line,
            &.control-square,
            &.control-oval {
                opacity: 1;
            }
        }
    }

    .control-initials,
    .control-signature,
    .control-optional-signing,
    .control-optional-initials {
        &.page-control__view__text {
            align-items: center;
            justify-content: center;
            border: 2px solid @main-black-second;
            border-radius: 4px;

            &:before {
                top: 5px;
            }
        }
    }

    .control-signature.page-control__view__text,
    .control-optional-signing {
        &.page-control__view__text {
            &:before {
                content: 'signature';
                position: absolute;
                top: -2.5px;
                left: 6px;
                display: flex;
                align-items: center;
                padding: 0 2px;
                height: 12px;
                background-color: @main-white-second;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }

    .control-initials.page-control__view__text,
    .control-optional-initials {
        &.page-control__view__text {
            &:before {
                top: -2.5px;
                display: flex;
                align-items: center;
                padding: 0 2px;
                height: 12px;
                background-color: @main-white-second;
                border-radius: 4px;
            }
        }
    }

    &.moving-stop {
        transform: none !important;
    }

    &__label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    @import './components/date-time-control.less';
    @import './components/page-control-actions.less';
    @import './components/page-control-view.less';
    @import './components/signature-control.less';
    @import './components/text-field-control.less';
    @import './components/initials-control.less';
    @import './components/text-area-control.less';
    @import './components/options-sign-controls.less';
    @import './components/dropdown-control.less';
}

@import './components/upload-attachment-control.less';

.signing {
    .page-control__focused {
        label {
            box-shadow: 0 0 14px 4px @main-color-second;
        }
    }

    .page-control {
        label {
            &:hover {
                box-shadow: 0 0 14px 4px @main-color-second;
            }
        }
    }
}
