.form-library-document {
    .form-library__checkbox {
        margin-bottom: 13px;
    }

    &__dnd-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        >div {
            user-select: none;
            position: absolute;
            z-index: 1089;

            .form-library-controls__wrapper__list__item-control {
                cursor: grabbing;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.8;

                &.control-area {
                    justify-content: flex-start;
                    align-items: flex-start;
                }

                &.disabled {
                    cursor: not-allowed;
                    color: @disabled-color;
                    background-color: @disabled-color-second;
                    border-color: @disabled-color;
                }
            }
        }
    }
}
